.service-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.service-section {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-radio {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 0%;
    margin-right: 30%;
    height: 20px;
    font-size: 14px;
}

.service-label {
    text-align: left;
    margin-left: 30%;
    font-size: 20px;
    font-weight: bold;
    width: 120%;
}

#service-banner {
    color: darkslategray;
    font-size: 32px;
    text-align: center;
}

.service-sub-banner {
    color: darkslategray;
    font-size: 24px;
    text-align: center;
}

#service-submit {
    color: darkslategray;
    height: 32px;
    width: 78px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}