.form-label {
    text-align: left;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
}

.text-input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 32px;
    font-size: 14px;
}