.form-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.emergency-input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 32px;
    font-size: 14px;
}

.emergency-label {
    text-align: left;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
}

#emergency-banner {
    color: darkslategray;
    font-size: 32px;
    text-align: center;
}

.emergency-sub-banner {
    color: darkslategray;
    font-size: 24px;
    text-align: center;
}

#emergency-button {
    color: darkslategray;
    height: 32px;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}